body{
  background-color: #292932;
}

nav.navbar{
  background-color: #232227 !important;
  color: #FFFFFF !important;
  outline: none !important;
  border: none !important;
}

.navbar-brand{
  color: #FFFFFF !important;
}
