body{
  background-color: #292932;
}

nav.navbar, nav.navbar:hover, nav.navbar:focus{
  background-color: #232227 !important;
  color: #FFFFFF !important;
  outline: none !important;
  border: none !important;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus{
  color: #FFFFFF !important;
  outline: none !important;
  border: none !important;
}

.main{
  padding-left: 80px !important;
  padding-right: 80px !important;
}

#editor-container, #btn-container, #output-container{
  display: inline-block;
  text-align: center;
}

#editor-container, #output-container{
  width: 40%;
}

#btn-container{
  width: 19%;
}

#editor, #output{
  display: inline-block;
}

