body{
  background-color: #292932;
}

nav.navbar, nav.navbar:hover, nav.navbar:focus{
  background-color: #232227 !important;
  color: #FFFFFF !important;
  outline: none !important;
  border: none !important;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus{
  color: #FFFFFF !important;
  outline: none !important;
  border: none !important;
}

.main{
  padding-left: 80px !important;
  padding-right: 80px !important;
}

#editor-container, #btn-container, #output-container{
  display: inline-block;
  text-align: center;
}

#editor-container, #output-container{
  width: 40%;
}

#btn-container{
  width: 19%;
}

#editor, #output{
  display: inline-block;
  margin-top: 10px;
  text-align: start;
}

#file-name{
  max-width: 80%;
  font-size: 16px;
  width: 400px;
  margin-right: 10px;
}

#upload-file{
  color: #FFFFFF;
  background-color: #5486d1;
  outline: none;
  border: none;
}

.m-btn{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-transition: -moz-box-shadow .25s;
	-moz-transition: box-shadow .25s;
	-webkit-transition: -webkit-box-shadow .25s;
	-webkit-transition: box-shadow .25s;
	transition: box-shadow .25s;
}

.m-btn:hover{
	-moz-box-shadow: 0 2px 5px 0 #202020;
	-webkit-box-shadow: 0 2px 5px 0 #202020;
	box-shadow: 0 2px 5px 0 #202020;
	-moz-transition: -moz-box-shadow .25s;
	-moz-transition: box-shadow .25s;
	-webkit-transition: -webkit-box-shadow .25s;
	-webkit-transition: box-shadow .25s;
	transition: box-shadow .25s;
}

